.popup {
    background: var(--wp-foreground-200);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    gap: 2.4rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5rem;
    max-width: 50rem;
    min-height: 32rem;
    border-radius: .5rem;
    color: var(--wp-foreground-700);
    box-shadow: 0 0 1.6rem #0f172a88;
    animation: appearFromBottom 500ms ease-in-out backwards;

    &__root {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #00000066;
    }

    &__header {
        display: flex;
        flex-direction: column;
        gap: 1.6rem;
        color: var(--wp-foreground-500);
    }

    &__button {
        width: 16rem;
    }

    &__title {
        &--version {
            font-weight: 700;
            color: var(--wp-blue-700);
        }
    }

    &__footer {
        display: flex;
        flex-direction: column;
        gap: .3rem;

        & h2 {
            margin-bottom: 1rem;
            font-size: 2rem;
        }
    }

    &__author {
        display: flex;
        flex-wrap: wrap;
        gap: .4rem;

        &--name {
            font-size: 1.5rem;
        }

        &--username {
            text-decoration: underline;
            color: var(--wp-blue-600);
            font-weight: 700;

            &:visited {
                color: var(--wp-blue-600);
            }
        }
    }
}
