<div class="pop-up__wrapper">
    <div class="top">
        <h2>Visualithm</h2>
        <p>Visualithm is a webapp made in Angular and Sass which contains some hand-picked algorithms visualizations</p>
        <div class="repo-link__wrapper">
            <div class="repo-button">
                <span>Repo</span>
            </div>
        </div>
    </div>

    <div class="bottom">
        <h2>Copyright</h2>
        <div class="iago__link">
            <p>Iago Oliveira</p>
            <a href="">@iagoOliv</a>
        </div>
        <div class="arthur__link">
            <p>Arthur Rodrigues</p>
            <a href="">@arthurrodrigues-dev</a>
        </div>
    </div>


</div>
