input {
    width: 30rem;
    padding-left: 1.6rem;
    background: #cbd5e1;
}

button {
    padding-left: 3.2rem;
    padding-right: 3.2rem; 
    background: #0ea5e9;
    color: #f1f5f9;
    cursor: pointer;

    &:hover {
        filter: brightness(1.1);
    }
}