.goto {
    position: fixed;
    top: 1.6rem;
    left: 1.6rem;
    height: 3.2rem;
    aspect-ratio: 1/1;
    border-radius: 10rem;
    padding: .8rem;
    background: #cbd5e1;
    transition: all ease-in-out 100ms;

    &:hover {
        filter: brightness(1.05);
    }

    &--icon {
        height: 3.2rem;
        aspect-ratio: 1/1;
    }
}