.goto {
    position: fixed;
    top: var(--wp--global-padding-top);
    left: var(--wp--global-padding-left);
    height: 3.2rem;
    aspect-ratio: 1/1;
    border-radius: .4rem;
    padding: .8rem;
    background: var(--wp-foreground-400);
    transition: all ease-in-out 100ms;

    &:hover {
        filter: brightness(1.05);
    }

    &--icon {
        height: 3.2rem;
        aspect-ratio: 1/1;
    }
}
