$target: #2563eb;
$middle: #15803d;
$start: #c7d2fe;
$end: #a5b4fc;

.binary-search {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: .8rem;
}

:host ::ng-deep .options {
    display: flex;
    gap: 1.6rem;
    height: 4rem;
    
    &__input {
        border: none;
        border-radius: .4rem;
        transition: all ease-in-out 200ms;
        height: 100%;
    }
}

.array-card__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: .8rem;
    max-width: 100%;
}

::ng-deep .legend {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1.6rem;
    padding: .8rem;
    background: #cbd5e1;
    border-radius: .8rem;
    font-size: 700;
    color: #1e293b;

    &--target {
        background: $target;
        box-shadow: 0 0 .8rem darken($target, 20);
    }

    &--middle {
        background: $middle;
        box-shadow: 0 0 .8rem darken($middle, 20);
    }

    &--start {
        background: $start;
        box-shadow: 0 0 .8rem darken($start, 20);
    }

    &--end {
        background: $end;
        box-shadow: 0 0 .8rem darken($end, 20);
    }

    &__wrapper {
        height: 2.2rem;
        display: flex;
        gap: .8rem;

        &--icon {
            height: 100%;
            aspect-ratio: 1/1;
            border-radius: 10rem;
        }
    }
}