<app-go-to-button goToThis=""></app-go-to-button>

<main class="binary-search">
    <div class="wrapper">
        <app-input class="options"
            placeholder="Digite o número de elementos."
            button_message="Criar Array"
            (buttonClick)="createArray($event)"
        ></app-input>
        <app-input class="options"
            placeholder="Digite o número a pesquisar."
            button_message="Nulo"
        ></app-input>
    </div>
    <div class="flex">
        <button
            (click)="subtractIterator()"
        >Voltar -- </button>
        <button
            (click)="addIterator()"
        >Avançar ++ </button>
        <span>Não estrapole o número de iterações da pesquisa binária</span>
        <span>Target é 20</span>
    </div>
    <div class="legend">
        <div class="legend__wrapper">
            <div class="legend__wrapper--icon legend--target"></div>
            <span class="legend__wrapper-text">Target</span>
        </div>
        <div class="legend__wrapper">
            <div class="legend__wrapper--icon legend--middle"></div>
            <span class="legend__wrapper-text">Middle</span>
        </div>
        <div class="legend__wrapper">
            <div class="legend__wrapper--icon legend--start"></div>
            <span class="legend__wrapper-text">Start</span>
        </div>
        <div class="legend__wrapper">
            <div class="legend__wrapper--icon legend--end"></div>
            <span class="legend__wrapper-text">End</span>
        </div>
    </div>

    <div class="array-card__wrapper" #_binarySearchArray>
        <app-array-card
            *ngFor="let item of array"
            [item]="item"
        ></app-array-card>
    </div>

</main>
