<div class="wrapper">
    <app-input class="options"
        placeholder="Digite o número de elementos."
        button_message="Criar Array"
        (buttonClick)="createArray($event)"
    ></app-input>
    <app-input class="options"
        appBinarySearch
        placeholder="Digite o número a pesquisar."
        button_message="Pesquisar"
        (buttonClick)="search()"
    ></app-input>
</div>

<div class="array-card__wrapper">
    <app-array-card
        *ngFor="let item of array"
        [item]="item"
    ></app-array-card>
</div>
