.button {
  padding-left: 3.2rem;
  padding-right: 3.2rem;
  min-width: 12.8rem;
  height: 4rem;
  background: #1d4ed8;
  color: #f1f5f9;
  cursor: pointer;
  border: none;
  border-radius: .4rem;

  &:hover {
    filter: brightness(1.1);
  }
}
