<main class="algorithms">
    <section class="list">
        <h1 class="list__title">Algorítmos de Pesquisa</h1>
        <a class="list__link" routerLink="/binary-search">
            <img class="list__link--icon" src="assets/icons/search.svg" alt="Binary Search Algorithm Icon">
            <span class="list__link--text">Binary Search</span>
        </a>
    </section>
    
    <section class="list">
        <h1 class="list__title">Algorítmos de Sort</h1>
        <a class="list__link" routerLink="/soon">
            <img class="list__link--icon" src="assets/icons/color-filter.svg" alt="Linear Sort Algorithm Icon">
            <span class="list__link--text">Linear Sort</span>
        </a>
    </section>

    <section class="list">
        <h1 class="list__title">Outros Algóritmos</h1>
        <a class="list__link" routerLink="/soon">
            <img class="list__link--icon" src="assets/icons/dice-outline.svg" alt="Linear Sort Algorithm Icon">
            <span class="list__link--text">Outros</span>
        </a>
    </section>
</main>

<span class="absolute-text">VISUALITHM</span>
