body {
    background: linear-gradient(#f1f5f9,#e2e8f0);
}

.algorithms {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    margin-bottom: 3.2rem;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;

    &__title {
        color: #334155;
    }

    &__link {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 20rem;
        aspect-ratio: 16/9;
        background: #cbd5e1;
        border-radius: .8rem;
        text-decoration: none;
        transition: all 100ms ease-in-out;

        &:hover {
            transform: scale(1.1);
            box-shadow: 0 0 1.6rem #0f172a55;
        }

        &--icon {
            height: 3.2rem;
            aspect-ratio: 1/1;
        }

        &--text {
            color: #0f172a;

            &:visited {
                text-decoration: none;
            }
        }
    }
}

.absolute-text {
    position: fixed;
    bottom: 1.6rem;
    right: 1.6rem;
    z-index: -1;
    font-size: 9.2rem;
    font-weight: 800;
    color: #94a3b8;
    user-select: none;
}

.background-logo {
    position: fixed;
    bottom: -12.8rem + 6.4rem;
    right: -12.8rem +  6.4rem;
    height: 25.6rem;
    aspect-ratio: 1/1;
    z-index: -2;
    filter: brightness(1.2) opacity(0.2);

}
