body {
    background: linear-gradient(#f1f5f9,#e2e8f0);
}

// Header Menu

.menu__wrapper {
    position: absolute;
    left: 3rem;
    top: 3rem;
    background-color: #CBD5E1;
    padding: .4rem .8rem;
    cursor: pointer;

    img {
        width: 3rem;
        color: #fff;
    }
}

// Menu Home

.algorithms {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    margin-bottom: 3.2rem;
    margin: 0 auto;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;

    &__title {
        color: var(--wp-foreground-600);
    }

    &__wrapper {
        display: flex;
        gap: 1.6rem;
        padding: .8rem;
        border-radius: .8rem;
        background: var(--wp-foreground-400);
        width: fit-content;
    }

    &__link {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 20rem;
        aspect-ratio: 16/9;
        background: var(--wp-foreground-300);
        border-radius: .8rem;
        text-decoration: none;
        transition: all 100ms ease-in-out;

        & [type="search"]:hover {
            box-shadow: 0 0 1.6rem #1e40af55;
        }

        & [type="sort"]:hover {
            box-shadow: 0 0 1.6rem #4f46e555;
        }

        & [type="other"]:hover {
            box-shadow: 0 0 1.6rem #0f172a55;
        }

        &:hover {
            transform: scale(1.1);
            box-shadow: 0 0 1.6rem #0f172a55;
        }

        &--icon {
            height: 3.2rem;
            aspect-ratio: 1/1;
        }

        &--text {
            color: var(--wp-foreground-700);

            &:visited {
                text-decoration: none;
            }
        }
    }
}

.absolute-text {
    position: fixed;
    bottom: 1.6rem;
    right: 1.6rem;
    z-index: -1;
    font-size: 9.2rem;
    font-weight: 800;
    color: var(--wp-foreground-300);
    user-select: none;
}

.background-logo {
    position: fixed;
    bottom: -12.8rem;
    right: -12.8rem;
    height: 25.6rem;
    aspect-ratio: 1/1;
    z-index: -2;
    filter: brightness(1.2) opacity(0.2);
}
