<header class="menu__wrapper">
    <div class="btn" (click)="showPopUpComponent()">
        <img src="../../../assets/icons/menu-icon.svg" alt="">
    </div>

</header>

<main class="algorithms">
    <section class="list">
        <h1 class="list__title">Algorítmos de Pesquisa</h1>
        <div class="list__wrapper">
            <a class="list__link" type="search" routerLink="/binary-search">
                <img class="list__link--icon" src="assets/icons/search.svg" alt="Binary Search Algorithm Icon">
                <span class="list__link--text">Binary Search</span>
            </a>
        </div>
    </section>

    <section class="list">
        <h1 class="list__title">Algorítmos de Sort</h1>
        <div class="list__wrapper">
            <a class="list__link" type="sort" routerLink="/soon">
                <img class="list__link--icon" src="assets/icons/color-filter.svg" alt="Linear Sort Algorithm Icon">
                <span class="list__link--text">Linear Sort</span>
            </a>
        </div>
    </section>

    <section class="list">
        <h1 class="list__title">Outros Algóritmos</h1>
        <div class="list__wrapper">
            <a class="list__link" type="other" routerLink="/random">
                <img class="list__link--icon" src="assets/icons/dice-outline.svg" alt="Linear Sort Algorithm Icon">
                <span class="list__link--text">Random</span>
            </a>
            <a class="list__link" type="other" routerLink="/soon">
                <img class="list__link--icon" src="assets/icons/dice-outline.svg" alt="Linear Sort Algorithm Icon">
                <span class="list__link--text">Outros</span>
            </a>
        </div>
    </section>
</main>

<span class="absolute-text">VISUALITHM</span>

<img class="background-logo" src="assets/logo.png" alt="Visualithm logo: the letter V is shown in a hexagon.">

<app-home-pop-up *ngIf="showComponent"></app-home-pop-up>
