$main: #cbd5e1;
$faded: lighten(#cbd5e1, 2);
$target: #2563eb;
$middle: #15803d;
$start: #c7d2fe;
$end: #a5b4fc;

.array__card {
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $main;
    border-radius: .4rem;
    color: #0f172a;
    font-weight: 800;
    animation: quicklyAppearFromBottom 100ms linear backwards;
    transition: all 50ms ease-in-out;

    &:hover {
        transform: scale(1.5);
    }
}

.middle {
    color: #f1f5f9;
    background: $middle;
    box-shadow: 0 0 1.6rem $middle;
    animation: pulse 500ms ease-in-out backwards;
}

.target {
    color: #f1f5f9;
    background: $target;
    box-shadow: 0 0 1.6rem $target;
    animation: pulse 500ms ease-in-out backwards;
}

.start {
    color: #f1f5f9;
    background: $start;
    box-shadow: 0 0 1.6rem $start;
    animation: pulse 500ms ease-in-out backwards;
}

.end {
    color: #f1f5f9;
    background: $end;
    box-shadow: 0 0 1.6rem $end;
    animation: pulse 500ms ease-in-out backwards;
}

.faded {
    color: darken($faded, 5);
    background: $faded;
    box-shadow: 0 0 1.6rem $faded;
    animation: pulse 500ms ease-in-out backwards; 
}

@keyframes appearFromBottom {
    0% {
        opacity: 0;
        transform: translateY(12px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: translate(1);
    }
}

@keyframes quicklyAppearFromBottom {
    0% {
        opacity: 0;
        transform: translateY(8px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}