.array-card {
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #cbd5e1;
    border-radius: .4rem;
    color: #0f172a;
    font-weight: 800;
    transition: all 50ms ease-in-out;
}